
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">Modelo Pruebas Saber</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-bell-fill"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1>Planificación de Simulacros</h1>

    <button class="btn btn-primary mb-3" (click)="agregarSimulacro()">Añadir Simulacro</button>

    <div class="alert alert-info" role="alert">
        <p>Tenga en cuenta las siguientes consideraciones:
            <li>Se aplicará el simulacro a todos los estudiantes del semestre seleccionado.</li>
        </p>
    </div>

    <table class="table mt-4" id="tablaSimulacros">
        <thead>
            <tr>
                <th>Nombre del Simulacro</th>
                <th>Lugar de Aplicación</th>
                <th>Día</th>
                <th>Hora de Inicio</th>
                <th>Hora Final</th>
                <th>Semestre</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <!-- Filas se agregarán dinámicamente aquí -->
            <tr *ngFor="let simulacro of simulacros; let i = index">
            <!-- @for (simulacro of simulacros; track simulacro.id) {} -->
                <td><input type="text" [(ngModel)]="simulacro.nombre" class="form-control" required/></td>
                <td><input type="text" [(ngModel)]="simulacro.lugar" class="form-control" required/></td>
                <td><input type="date" [(ngModel)]="simulacro.dia" class="form-control" required/></td>
                <td><input type="time" [(ngModel)]="simulacro.horaInicio" class="form-control" required/></td>
                <td><input type="time" [(ngModel)]="simulacro.horaFinal" class="form-control" required/></td>
                <td>
                    <select multiple [(ngModel)]="simulacro.semestre" class="form-control" required>
                        <option *ngFor="let option of opcionesSemestre" [value]="option">{{ option }}</option>
                    </select>
                </td>
                <td>
                    <button *ngIf="!simulacro.guardado" class="btn btn-success" (click)="guardarSimulacro(simulacro)">Guardar</button>
                    <button *ngIf="simulacro.guardado" class="btn btn-warning" (click)="editarSimulacro(simulacro)">Editar</button>
                    <button class="btn btn-danger" (click)="eliminarSimulacro(i)">Eliminar</button>
                </td>
        </tbody>
    </table>
</div>

<router-outlet></router-outlet>

